<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
      <add name="243" connectionString="Server=192.168.1.124;Port=5432;UserId=postgres;Password=sjzxadmin;Database=openexchange;"/>
      <add name="241" connectionString="Server=192.168.1.110;Port=5432;UserId=gis;Password=Dgxl320#;Database=osm_test;"/>
    </connectionStrings>
</configuration>